@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('./assets/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('./assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color-background: #242b33;
  --color-primary: #effbff;
  --color-accent: #6ee2ff;
  --spacing-ui: 10px;
  background-color: var(--color-background);
  transition: background-color 0.3s;
  font-family: 'JetBrains Mono', monospace;
  font-size: 13px;
  line-height: 1.2;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
