.Header {
  position: relative;
}

.Header h1 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 4em;
  line-height: 1.05;
}

.Header p {
  color: var(--color-primary);
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0.8;
}

.HeaderMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header p + .HeaderMain {
  margin-top: 0.75rem;
}

.SettingsLink {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-accent);
}

@media (min-width: 769px) {
  .SettingsLink {
    display: none;
  }
}

@media (max-width: 600px) {
  .Header h1 {
    font-size: clamp(2.5rem, 13vw, 4em);
  }
}
